{% extends "base.htm" %}
{% block titulo %} - {{ planta.nombreCientifico }}{% endblock %}
{% block botones %}
<li><a href data-toggle="modal" data-target="#editarPlanta">Editar planta</a></li>
{% endblock %}
{% block content %}
<div class="container" style="margin-top:40px">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><strong>{{ planta.nombreCientifico }}</strong> <em>({{ planta.nombreComun }})</em></h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
    	<dt>Fotos</dt>
    	<dd><img src="{{ MEDIA_URL }}{{ planta.foto }}" style="width:120px"><img src="{{ MEDIA_URL }}{{ planta.detalleHoja }}" style="width:120px"></dd>
        <dt>Nombre Científico</dt>
        <dd>{{ planta.nombreCientifico }}</dd>
        <dt>Nombre Común</dt>
        <dd>{{ planta.nombreComun }}</dd>
        <dt>Distribucion</dt>
        <dd>{{ planta.distribucion }}</dd>
        <dt>Longitud</dt>
        <dd>{{ planta.longitud }}</dd>
        <dt>Altitud</dt>
        <dd>{{ planta.altitud }}</dd>
        <dt>Tipo de Suelo</dt>
        <dd>{{ planta.tipoDeSuelo }}</dd>
      </dl>
  </div>
</div>

</div>

<div class="modal fade" id="editarPlanta" tabindex="-1" role="dialog" aria-labelledby="etiquetaForm" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Editar planta</h4>
      </div>
      <div class="modal-body">

		<form action="/" method="POST" role="form" enctype="multipart/form-data" >
			{% csrf_token %}
		  <div class="form-group">
		    <label for="id_nombreCientifico">Nombre Científico</label>
		    {{ form.nombreCientifico }}
		  </div>
		  <div class="form-group">
		    <label for="id_nombreComun">Nombre Común</label>
		    {{ form.nombreComun }}
		  </div>
		  <div class="form-group">
		    <label for="id_foto">Foto</label>
		    {{ form.foto }}
		  </div>
		  <div class="form-group">
		    <label for="id_detalleHoja">Foto de la Hoja</label>
		    {{ form.detalleHoja }}
		  </div>
		  <div class="form-group">
		    <label for="id_distibucion">Distribución</label>
		    {{ form.distribucion }}
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Tipo de suelo</label>
		    <div class="row">
	 			<div class="col-xs-6">
					<select id="tipoDeSuelo" name="tipoDeSuelo" class="form-control">
						{% for tipo in tiposSuelo %}
						<option value="{{ tipo.nombre }}">{{ tipo.nombre }}</option>
						{% endfor %}
						<option value="other">Otro</option>
					</select>
				</div>
				<div class="col-xs-6">
			    	<input type="text" class="form-control" id="sueloOther" name="sueloOther" placeholder="Otro">
			    </div>
			</div>
		  </div>
		  <div class="form-group">
		    <label for="id_longitud">Longitud</label>
		    {{ form.longitud }}
		  </div>
		  <div class="form-group">
		    <label for="id_altitud">Altitud</label>

				{{ form.altitud }}		  
			</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </form>
      </div>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
var $tiposSuelo = $('#tipoDeSuelo'), $otherInput = $('#sueloOther');
$tiposSuelo.change(function () {
    if ($tiposSuelo.val() == 'other') {
        $otherInput.removeAttr('disabled');
    } else {
        $otherInput.attr('disabled', 'disabled').val('');
    }
}).trigger('change'); // added trigger to calculate initial state
</script>
</div>
{% endblock %}

